<%= form_for(@layer, :html => {:class => 'form-horizontal', :multipart => true}) do |f| %>
  <legend>Geojson format</legend>
  <% if @layer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@layer.errors.count, "error") %> prohibited this layer from being saved:</h2>

      <ul>
      <% @layer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :name, 'Name', :class => 'control-label' %>
    <div class="controls">
      <%= f.text_field :name %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :geo_file, 'Geojson', :class => 'control-label' %>
    <div class="controls">
      <%= f.file_field :geo_file %>
    </div>
  </div>

  <div class="controls-group">
    <div class="controls">
      <%= f.submit nil, :class => "btn btn-primary", :disable_with => 'uploading' %>
    </div>
  </div>
<% end %>
