<% if controller_name == 'layers' %>
<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @layer.name %>
</p>

<%= link_to 'Edit', edit_layer_path(@layer) %> |
<%= link_to 'Back', layers_path %> |
<%= link_to  @permalink, @permalink %>
<% end %>

<div id="map"></div>

<script type="text/javascript">
$(document).ready(function(){
  var data_json = <%= raw @data_json %>;
  var viewPoint = data_json['view_point'];
  var map = L.map('map').setView(viewPoint, 11);

  var colorGroup = getColorGroup([]);


  var areasLayer = new L.LayerGroup();
  var area_points = data_json['area_points'];
  for(k in area_points) {
    if(area_points.hasOwnProperty(k)) {
    var points = area_points[k];
    addArea(areasLayer, points, -1, colorGroup);
    }
  }

  init(map, colorGroup, {"baseLayers": {}, "overLayers": {"Polygon Layer": areasLayer}});
  $('.legend-info').remove();
});
</script>
