<!DOCTYPE html>
<html>
<head>
  <title>Pointsinarea</title>
  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <!--[if lte IE 8]>
  <%= stylesheet_link_tag "application-ie", :media => "all" %>
  <![endif]-->
  <%= javascript_include_tag "application" %>

</head>
<body class="<%= controller_name %> <%= action_name %>">
  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
